title: "mips2machine: Compiler for CSCE2214's x86 CPU"
---
- content_for :head do
  != style_tag 'css/style.css'

#info
  %h2 MIPS2Machine

%nav#tabs
  %ul
    %li
      %a.mips2machine.active{:href => "#mips2machine"}!= "MIPS &rarr; Machine"
    %li
      %a.machine2mips{:href => "#machine2mips"}!= "Machine &rarr; MIPS"

#editors
  %form#mips2machine
    .error.hide#mips2machine_error
    %pre.editor.left#mips2machine_editor
    %pre.output.right#mips2machine_output

  %form#machine2mips.hide
    .error.hide#machine2mips_error
    %pre.editor.left#machine2mips_editor
    %pre.output.right#machine2mips_output

#app_info
  This app was developed because I was tired of hand compiling Assembly to machine code, for CSCE2214 at the University of Arkansas, and leaving it to chance to mess up. It was built over a few days in about 4-5 hours so there's definitely room for improvement and cleanup. I still have to implement the Machinecode &rarr; MIPS tab functionality, but the MIPS &rarr; Machinecode should be fully functional for the ISA given for the CPU. The app is a pure Javascript app writen using the Proton framework. It also uses Coffeescript, HAML and SASS. If you'd like to contribute, fork it on Github and send in a pull request! Special thanks to js2coffee.org as I used their app as a template of functionality. 
  
#contact
  %h3.left
    This is a project by 
    %a{:href => "http://addamhardy.com"} Addam Hardy
  %h3.right
    The source can be found on 
    %a.github{:href => "http://github.com/addamh/mips2machine"} Github.
  
%script{type: 'text/javascript', charset: 'utf-8', src: 'https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js'}

!= script_tag 'scripts/underscore.min.js'
!= script_tag 'scripts/machine2mips.js'
!= script_tag 'scripts/mips2machine.js'
!= script_tag 'scripts/ace/ace.js'
!= script_tag 'scripts/ace/mode-coffee.js'
!= script_tag 'scripts/ace/mode-javascript.js'
!= script_tag 'scripts/ace/theme-clouds.js'
!= script_tag 'scripts/script.js'
!= script_tag 'scripts/helpers.js'

!= "<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>"

